CompileFlags:
  CompilationDatabase: bazel-hotalib
  Add:
    - "-isystemexternal/abseil-cpp+"
    - "-isystemexternal/boost.geometry+"
    - "-isystemexternal/boost.icl+"
    - "-isystemexternal/boost.multiprecision+"
    - "-isystemexternal/boost.rational+"
    - "-isystemexternal/eigen+"
  Remove:
    - -fno-canonical-system-headers
Style:
  QuotedHeaders: "hotaosa/*"
  AngledHeaders:
    - "absl/*"
    - "atcoder/*"
    - "boost/*"
    - "Eigen/*"
InlayHints:
  Enabled: true
