name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hotaosa-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Run hotaosa tests
        run: bazel test //hotaosa/... --test_output=errors
